body {
    background-image: url("background.webp");
    background-size: cover;
    font-family: 'Martian Mono', monospace;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#increment-btn:hover{
    background-color: rgb(88, 4, 4);
    cursor: pointer;
    border: 2px solid white;
}

#save-btn {
    background: darkgreen;
}

#save-btn:hover{
    background-color: rgb(1, 53, 1);
    cursor: pointer;
    border: 2px solid white;
}

.contain{
    margin: auto;
    padding: 20px;
}

#save-el{
    color: white;
}
